$theme-colors: (
  "primary": #0091ea //Covalence Blue!  :D,,,,,,,,,
);

#tagsNav {
  display: none;
}

#homeLink:hover,
#addLink:hover {
  cursor: pointer;
  border-bottom: 2px solid grey;
}

.activeLink {
  border-bottom: 2px solid lightgrey;
}

.blogs:hover {
  border: 2px inset darkgray;
}

#mainBlog {
  position: relative;
}

#editBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.tag-list:hover {
  cursor: pointer;
  border-bottom: 2px solid lightgrey;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
